*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #2c2c2e;
}
/*Menu Navegacion*/
nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: black;
}
.logo{
    height: 50px;
}
nav a{
    color:white;
    text-decoration: none;
    margin-left: 30px;
    font-family: 'Courgette', cursive;
    font-weight: bold;
    padding: 7px 13px;
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0;
}
li a:hover, li a.active{
    background:crimson;
    border-radius: 15px;
}
.btn-nav{
    color: goldenrod;
    background-color: firebrick;
    width: 12rem;
    padding: 7px 13px;
    font-family: 'Courgette', cursive;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}
.btn-nav:hover{
    color: white;
    background-color: goldenrod;
}
.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 50px;
    margin-right: 5rem;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 670px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        top: 70px;
        left: -150%;
        z-index: 10;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color:crimson;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
/*Buscador*/
.buscador{
    margin-top: 20px;
    width: 100%;
}
.box{
    text-align: center;
}
h1{
    font-size: 30px;
}
input{
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
}
input[type="text"]
{
    background: rgb(201, 198, 198);
    height: 40px;
    border: none;
    outline: none;
    padding: 0 20px;
    border-radius: 20px 0 0 20px;
}
input[type="submit"]
{
    position: relative;
    left: -3.5px;
    height: 40px;
    width: 100px;
    border: none;
    outline: none;
    background: goldenrod;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    color: white;
}
.filtro{
    display: none;
}
/*Filtros generales*/
.filtros{
    width: 100%;
    text-align: center;
}
.btn-filtros{
    color: white;
    background-color: goldenrod;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}
/*tabla informacion*/
.info-tabla{
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    table-layout: fixed;
    border-collapse: collapse;
}
thead{
    color: goldenrod;
    background-color: firebrick;
}
th{
    padding: 20px 30px;
    text-transform: uppercase;
}
tbody{
    color: white;
}
td{
    text-align: center;
    padding: 15px;
    border-bottom: solid 1px firebrick;
}
td img{
    width: 30px;
}
td img:hover{
    cursor: pointer;
}